/*设置基本样式*/
* {
    box-sizing: border-box;
}

/*设置body的样式*/
body {
    background-color: #DFDFDF;
    margin: 0;
}

.app {
    width: 500px;
    margin: 50px auto;
}


/*设置外层容器logs的样式*/
.logs {
    padding: 20px;
    background-color: #EAE2B7;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
}

/*设置item的样式*/
.item {
    /*开启弹性盒*/
    display: flex;
    margin: 16px 0;
    padding: 6px;
    background-color: #FCBF49;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
}


.item:hover .delete {
    opacity: 1;
}

/*设置日期的样式*/
.date {
    width: 90px;
    background-color: #fff;
    border-radius: 10px;
    font-weight: bold;
    text-align: center;
    overflow: hidden;
}

/*设置月份效果*/
.month {
    height: 30px;
    line-height: 30px;
    font-size: 20px;
    color: #fff;
    background-color: #D62828;
}

/*设置日期的效果*/
.day {
    height: 60px;
    line-height: 60px;
    font-size: 50px;
}

/*设置日志内容的样式*/
.content {
    flex: auto;
    text-align: center;
    font-weight: bold;
}

/*设置描述内容*/
.desc {
    font-size: 16px;
    color: #194B49;
}

/*设置学习时间*/
.time {
    color: #D62828;
}


/* 添加日志项的表单样式 */
.card {
    width: 500px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
}

.logs-form {
    background-color: #EAE2B7;
    margin-bottom: 16px;
    padding: 10px;
}

.form-item {
    height: 40px;
    line-height: 40px;
    margin: 16px 0;
    display: flex;
    flex-flow: row;
}

.form-item label {
    text-align: center;
    padding: 0 10px;
}


.form-item input {
    flex: auto;
    border: 1px solid #bbb;
    border-radius: 3px;
    outline: none;
}
.search {
    margin: 10px;
}
.search input {
    outline: none;
    width: 360px;
    height: 40px;
}

.form-btn {
    text-align: center;
}

.form-btn button {
    width: 100px;
    height: 50px;
    border: none;
    background-color: #194B49;
    color: #fff;
    font-size: 20px;
    transition: .3s;
    border-radius: 3px;
}

.form-btn button:hover, .search input[type=button]:hover{
    background-color: #D62828;
}


.search input[type=button] {
    width: 80px;
    height: 36px;
    border: none;
    background-color: #194B49;
    color: #fff;
    font-size: 16px;
    transition: .3s;
    border-radius: 3px;
}

/* 刪除按鍵 */
.delete {
    margin-right: 10px;
    color: white;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    transition: .3s;
    opacity: 0;
}

.delete:hover {
    color: #D62828;
}