
$bgColor: #fff;
$fontColor: #444;

.citys {
    margin: 20px;
    background-color: $bgColor;
    .item {
        border-bottom: 1px solid #ddd;
        padding: 10px 0;
        .letter {
            color: blue;
        }
        span {
            color: $fontColor;
            margin-right: 16px;
        }
    }
}
