* {
    padding: 0;
    margin: 0;
}

.tabsbar {
    display: flex;
    flex-direction: rows;
    align-items: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    border-top: 1px solid #ddd;
    padding: 5px 0;
}

.tabsbar .item {
    flex: 1;
    text-align: center;
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: #333;
}

.tabsbar .item.active {
    color: red;
}

.tabsbar .item .iconfont {
    font-size: 20px;
    margin-bottom: 4px;
}

