.app {
    width: 560px;
    margin: 10px auto;
}
.tabs {
    display: flex;
    flex-direction: rows;
}

.tabs a {
    flex: 1;
    padding: 10px 0px;
    background: #999;
    color: #fff;
    margin-right: 1px;
    text-decoration: none;
    text-align: center;
}

.tabs a.active {
    background: #333;
}